<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteBase /
RewriteRule ^$ index.php
RewriteRule ^import$ import.php
RewriteRule ^login$ login.php
RewriteRule ^demo$ index.php
RewriteRule ^logout$ logout.php
RewriteRule ^signup$ signup.php
RewriteRule ^forgot$ forgot.php
RewriteRule ^resetpassword/(.*) resetpassword.php?code=$1
RewriteRule ^categories$ categories.php
RewriteRule ^ask$ ask.php
RewriteRule ^answer$ answer.php
RewriteRule ^popular$ popular.php
RewriteRule ^question$ question.php
RewriteRule ^search$ search.php
RewriteRule ^account$ account.php
RewriteRule ^editaccount$ editaccount.php
RewriteRule ^changeemail$ changeemail.php
RewriteRule ^resendconfirmation/(.*) resendconfirmation.php?userid=$1
RewriteRule ^changepass$ changepass.php
RewriteRule ^myquestions$ myquestions.php
RewriteRule ^edit$ edit.php
RewriteRule ^confirmemail$ confirmemail.php
RewriteRule ^confirmemail/(.*) confirmemail.php?code=$1
RewriteRule ^member/(.*)/(.*) memberprofile.php?pid=$1&name=$2
RewriteRule ^rss/recent$ rss_recent.php
RewriteRule ^rss/popular$ rss_popular.php
RewriteRule ^termsofuse$ termsofuse.php
RewriteRule ^privacypolicy$ privacypolicy.php
RewriteRule ^aboutus$ aboutus.php
RewriteRule ^advertising$ advertising.php
RewriteRule ^contactus$ contactus.php
RewriteRule ^top-experts$ top-experts.php
RewriteRule ^log_out$ log_out.php
RewriteRule ^import/$ import.php

#RewriteRule ^$ landingpage/index.html
RewriteRule ^/landingpage/(.*)$ landingpage/$1  [L]

#RewriteRule ^([^/.]+)(\/)?$ category.php?key=$1


</IfModule>

<IfModule mod_security.c> 
   # Turn off mod_security filtering. 
   SecFilterEngine Off 

   # The below probably isn't needed, 
   # but better safe than sorry. 
   SecFilterScanPOST Off 
</IfModule>

# only allow access to dev from dev.seeqe.com
#Order Deny,Allow
#Deny from all
#Allow from dev.seeqe.com


#AuthUserFile "/home/seeqe123/.htpasswds/public_html/DevEnv/passwd"
#AuthType Basic
#AuthName "Dev Env"
#require valid-user
