@import 'bourbon';

$white: #fff;
$orange: #f7931e;
$orange2: #f37021;
$grey: #e7e8e9;

@mixin bp($p) {
  @if $p == l {
    @media (min-width: 1200px){ @content; }
  }
  @else if $p == m {
    @media (min-width: 992px) and (max-width: 1199px){ @content; }
  }
  @else if $p == s {
    @media (min-width: 768px) and (max-width: 991px)  { @content; }
  }
  @else if $p == xs {
    @media (max-width: 767px)  { @content; }
  }
}

// Global
body { font-family: 'ProximaNovaSoft'; }
// re-usable classes
.fl_left { float:left; }
.fl_right { float: right; }

// Fifth columns
.row {
  .col-md-2 {
    &.fifth { width:20%; padding:0 15px;
      @include bp(xs) { width:100%; padding:0; text-align: center; margin-bottom:30px; }
    }
  }
}

@font-face {
  font-family: 'ProximaNovaSoft';
  src: url('../fonts/ProximaNovaSoft-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Fonjava';
  src: url('../fonts/Fonjava.otf');
  font-weight: normal;
}

.cursive { font-family: 'Fonjava'; }

#menuopen { display: none;
  .fa { font-size: 30px; margin: 20px 40px;}
  @include bp(xs) { display: block; float:right; color:$orange; font-size:18px; }
  @include bp(s) { display: block; float:right; color:$orange; font-size:18px; }
}

/* @font-face {
  font-family: 'gotham';
  src: url('../fonts/gothamhtf-light-webfont.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'gotham';
  src: url('../fonts/gothamhtf-medium-webfont.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'gotham';
  src: url('../fonts/gothamhtf-black-webfont.ttf');
  font-weight: 700;
} */


// Header
header { background:$white; overflow: hidden; padding:15px;
  .right { margin:0 30px 0; }
  .logo-nav { margin-top:10px; }
  a { color:$orange; }
  nav {
    ul { margin:25px 0 0 40px; padding:0; list-style: none;
      li { float: left; margin-right:15px;
        a { font-size:16px; }
      }
    }
  }
  @include bp(xs) {
    nav { display: none; }
  }
  @include bp(s) {
    nav { display: none; }
  }
}
// Footer
footer { background:$orange; color:$white; padding:50px; font-family: ProximaNovaSoft; overflow: hidden;
  ul { list-style: none; margin:0; padding:0;
    li { font-size:16px;
      a { padding:5px 0; display: block; }
    }
  }
  h2 { margin-top:0; }
  a { color:$white;
    &:hover { color:$white; text-decoration: underline; }
  }
  .footerbottom { margin-top:70px; position: relative;
    .logo { position: absolute; left:0; }
    .copyright { text-align: center; padding-top:20px; }
  }
}

// Intro
.intro {
  h1 { font-size:60px; }
  p { font-size:18px; }
  .small { color:$white;}
}

// Main
.main { position: relative; z-index: 10;
  h2.header { background:$orange; color:$white; padding:10px 15px; border-radius:20px; display: block; text-align: center; margin:0 auto; margin-top:-70px; margin-bottom:40px; width:200px; font-size:18px; }
  .wrapper { border-left:3px solid $grey; border-right:3px solid $grey; padding:50px; }
}

// Items
.items {
  .item { margin-bottom:30px;
    .inner { border:12px solid $orange2; border-radius: 10px;
      .picture {
        img { width:100%; height:auto; }
      }
      .text { background:$white; padding:5px;
        h3 { font-size:16px; margin-top:5px; }
        .author { font-size:11px; }
        a { color:$orange; }
      }
    }
  }
}

// Discover page
.discover {
  .intro { background:url(../img/discover.jpg) 50% 50% no-repeat; background-size:cover; padding:100px; color:$white; text-align: center; position: relative;
    &:after { position: absolute; content:''; width:100%; height:100%; background:rgba(255,255,255,0.2); z-index: 9; top:0; left:0; }
  }
}
