$color-spec-orange: #FF6F00

$color-text-main: black
$color-navbar-links: $color-spec-orange
$color-navbar-accent: $color-spec-orange
$color-footer-background: $color-spec-orange

$navbar-height: 90px
$footer-height: 60px
