$font-default: ProximaNovaSoft

$bootstrap-xs-max: 767px
$bootstrap-sm-min: 768px
$bootstrap-sm-max: 991px
$bootstrap-md-min: 992px
$bootstrap-md-max: 1199px
$bootstrap-lg-min: 1200px

$color-spec-orange: #FF6F00

$color-text-main: black
$color-navbar-links: $color-spec-orange
$color-navbar-accent: $color-spec-orange
$color-navbar-bottom: $color-spec-orange
$color-banner-heading: $color-spec-orange
$color-footer-background: $color-spec-orange

$navbar-height: 90px
$footer-height: 60px
