$font-default: ProximaNovaSoft

$bootstrap-xs-max: 767px
$bootstrap-sm-min: 768px
$bootstrap-sm-max: 991px
$bootstrap-md-min: 992px
$bootstrap-md-max: 1199px
$bootstrap-lg-min: 1200px

$color-orange: #FF6F00
$color-lightgrey: #E7E8E9
$color-facebook-blue:#3A5795
$color-twitter-blue: #55ACEE

$color-text-main: black
$color-text-grey: #808080

$navbar-height: 70px
$navbar-image-height: 40px
$navbar-border-height: 2px
$navbar-spacing-x: 20px

$login-text-padding-x: 10px
$login-checkbox-size: 20px

$item-display-padding: 20px

$footer-height: 310px

$standard-border: 6px
$standard-border-radius: 20px
