@import "_variables"
@import "_mixins"
@import "_animations"
@import "_fonts"

html
  position: relative
  min-height: 100%

  body
    font-family: ProximaNovaSoft, sans-serif
    color: $color-text-main
    margin-bottom: $footer-height

    .navbar-main
      padding: 0 25px
      margin-bottom: 0
      border-bottom: 2px solid $color-orange

      .navbar-header
        margin-right: 20px

        .navbar-brand
          height: $navbar-height

          .navbar-logo
            height: $navbar-height - 30px

      #navbar

        .navbar-nav
          height: $navbar-height
          padding-top: 15px
          padding-bottom: 15px

          > li > a
            padding-top: 0
            padding-bottom: 0
            line-height: $navbar-height - 30px
            @include hover($color-orange, darken($color-orange, 20))

            &.navbar-notifications
              margin-top: ($navbar-height - 60px) / 2
              margin-right: 15px
              padding-left: 0
              padding-right: 0
              height: 30px
              width: 30px
              border: 1px solid $color-orange
              border-radius: 15px
              text-align: center
              line-height: 30px
              font-size: 18px

            &.navbar-profile-pic
              padding-right: 0
              height: $navbar-height - 30px

              > img
                display: block
                height: $navbar-height - 30px
                border: 2px solid $color-orange
                border-radius: ($navbar-height - 30px) / 2

    .banner
      height: 400px
      background-repeat: no-repeat
      background-position-y: center
      background-size: cover
      background-attachment: fixed

      > h1, > p
        color: white
        text-align: center

      > h1
        margin-top: 80px
        font-size: 70px

        @media (max-width: $bootstrap-xs-max)
          font-size: 40px

        .banner-fancy
          font-family: Fonjava, $font-default, sans-serif

        .banner-small
          font-size: 40px

          @media (max-width: $bootstrap-xs-max)
            font-size: 25px

      > p
        font-size: 20px
        margin-top: 0
        margin-bottom: 0

    .banner-heading
      margin-top: -20px
      margin-bottom: -20px
      text-align: center

      .banner-heading-text
        padding: 5px 25px
        border-radius: 20px
        display: inline-block
        color: white
        text-align: center
        font-size: 20px
        line-height: 30px
        background-color: $color-orange

    .discover-container
      padding-top: 60px
      border: 3px solid $color-lightgrey
      border-top: none

      .grey-text
        font-size: 20px
        color: $color-text-grey

        .accent
          color: $color-orange

      .item-container
        margin-top: 10px
        padding-left: $item-display-padding
        padding-right: $item-display-padding

        .item-box
          padding: $item-display-padding

          .item
            border: $standard-border solid $color-orange
            border-radius: $standard-border-radius

            .item-picture
              width: 100%
              border-radius: ($standard-border-radius - $standard-border) ($standard-border-radius - $standard-border) 0 0

            .item-title, .item-description
              margin-left: 12px
              margin-right: 12px

            .item-title
              margin-bottom: 5px
              font-size: 20px

            .item-description
              margin-bottom: 0
              font-size: 12px

              .item-asked-by-name, .answer-count
                @include hover($color-orange, darken($color-orange, 20))

          .item-panel
            border: $standard-border solid $color-orange
            border-radius: $standard-border-radius + $standard-border

            .item-picture
              margin-top: 15px
              margin-bottom: 15px
              border: $standard-border solid $color-orange
              border-radius: $standard-border-radius
              width: 100%

              @media (max-width: $bootstrap-xs-max)
                display: block
                max-width: 280px
                margin-left: auto
                margin-right: auto

            .item-title, .item-description
              margin-left: 16px

            .item-title
              margin-top: 54px
              font-size: 30px

              @media (max-width: $bootstrap-sm-max)
                margin-top: 32px

              @media (max-width: $bootstrap-xs-max)
                margin-top: 0
                text-align: center

            .item-description
              margin-top: 40px
              font-size: 14px

              @media (max-width: $bootstrap-sm-max)
                margin-top: 24px

              @media (max-width: $bootstrap-xs-max)
                margin-top: 0
                text-align: center

              .item-asked-by-name
                @include hover($color-orange, darken($color-orange, 20))

            .answer
              text-align: center

              .form-group
                margin-top: 16px
                margin-right: 8px

                .answer-label

                  > label
                    line-height: 28px
                    color: $color-orange

                .answer-input

                  > input
                    height: 28px
                    border: 1px solid $color-orange

              > button
                margin-top: 16px
                margin-bottom: 16px
                background-color: $color-orange
                color: white
                border-radius: 16px


        .item-footer
          margin-top: 10px
          margin-bottom: 30px
          text-align: right
          font-size: 14px

          a
            @include hover($color-text-main, $color-orange)

    .section-heading
      margin-top: 60px
      background-color: $color-orange
      border-radius: 20px 20px 0 0
      padding-top: 15px
      padding-bottom: 15px

      > h1
        margin: 0
        text-align: center
        color: white

    .section-main
      padding-top: 30px
      border: 3px solid $color-lightgrey
      border-top: none

      .padded-text
        margin-left: $item-display-padding
        margin-right: $item-display-padding

      .grey-text
        font-size: 20px
        color: $color-text-grey

        .accent
          color: $color-orange

      .list
        margin-top: 40px
        margin-left: $item-display-padding
        margin-right: $item-display-padding
        font-size: 20px
        line-height: 36px

        .list-item

          > a
            @include hover($color-text-main, $color-orange)

            &.active
              color: $color-orange

        .list-more
          margin-top: 16px

          > a
            @include hover($color-orange, darken($color-orange, 20))

        .item-footer
          margin-top: 10px
          margin-bottom: 30px
          text-align: right
          font-size: 14px

          a
            @include hover($color-text-main, $color-orange)

    .pre-footer
      height: 80px

    .footer
      position: absolute
      bottom: 0
      width: 100%
      height: $footer-height
      background-color: $color-orange

      .footer-header
        margin-top: 36px
        margin-bottom: 16px
        color: white

      .footer-list
        display: block
        margin-top: 10px
        @include hover(white, white)

        &:hover
          text-decoration: underline

      .footer-copyright
        position: absolute
        left: 0
        right: 0
        margin-top: 52px
        color: white
        text-align: center

      .footer-logo
        position: absolute
        margin-top: 32px
        height: 40px

    .nomargin
      margin: 0

    .nopadding
      padding: 0

    .float-left
      float: left

    .float-right
      float: right

    .clear

    .view-options
      margin-top: 40px

      .view-options-left
        font-size: 24px

        a
          @include hover($color-orange, darken($color-orange, 20))

      .view-options-right
        font-size: 18px
        text-align: right

        a
          @include hover($color-text-main, $color-orange)

          &.active
            @include hover($color-orange, darken($color-orange, 20))
