@font-face {
  font-family: ProximaNovaSoft;
  src: url("../fonts/ProximaNovaSoft.otf"); }
@font-face {
  font-family: Fonjava;
  src: url("../fonts/Fonjava.otf"); }
html {
  position: relative;
  min-height: 100%; }
  html body {
    font-family: ProximaNovaSoft, sans-serif;
    color: black;
    margin-bottom: 60px; }
    html body .navbar-main {
      padding: 0 25px 10px;
      margin-bottom: 0;
      border-bottom: 2px solid #FF6F00; }
      html body .navbar-main .navbar-header {
        margin-right: 20px; }
        html body .navbar-main .navbar-header .navbar-brand {
          height: 90px; }
          html body .navbar-main .navbar-header .navbar-brand .navbar-logo {
            height: 60px; }
      html body .navbar-main #navbar .navbar-nav {
        height: 90px;
        padding-top: 15px;
        padding-bottom: 15px; }
        html body .navbar-main #navbar .navbar-nav > li > a {
          padding-top: 0;
          padding-bottom: 0;
          line-height: 60px;
          color: #FF6F00; }
          html body .navbar-main #navbar .navbar-nav > li > a:hover, html body .navbar-main #navbar .navbar-nav > li > a:focus {
            color: #994300;
            text-decoration: none;
            background-color: transparent; }
        html body .navbar-main #navbar .navbar-nav .navbar-profile-pic {
          height: 60px;
          border: 2px solid #FF6F00;
          border-radius: 30px;
          margin-right: 10px; }
        html body .navbar-main #navbar .navbar-nav .navbar-notifications {
          margin-top: 15px;
          height: 30px;
          width: 30px;
          border: 1px solid #FF6F00;
          border-radius: 15px;
          text-align: center;
          line-height: 30px;
          font-size: 18px; }
    html body .banner {
      height: 400px;
      background-repeat: no-repeat;
      background-position: center 90%;
      background-size: cover; }
      html body .banner > h1, html body .banner > p {
        color: white;
        text-align: center; }
      html body .banner > h1 {
        margin-top: 80px;
        font-size: 70px; }
        @media (max-width: 767px) {
          html body .banner > h1 {
            font-size: 40px; } }
        html body .banner > h1 .banner-fancy {
          font-family: Fonjava, ProximaNovaSoft, sans-serif; }
        html body .banner > h1 .banner-small {
          font-size: 40px; }
          @media (max-width: 767px) {
            html body .banner > h1 .banner-small {
              font-size: 25px; } }
      html body .banner > p {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 0; }
    html body .banner-heading {
      margin-top: -20px;
      margin-bottom: -20px;
      text-align: center; }
      html body .banner-heading .banner-heading-text {
        padding: 5px 25px;
        border-radius: 20px;
        display: inline-block;
        color: white;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        background-color: #FF6F00; }
    html body .discover-container {
      padding-top: 60px;
      border: 3px solid #E7E8E9;
      border-top: none; }
      html body .discover-container .grey-text {
        color: #808080; }
        html body .discover-container .grey-text .accent {
          color: #FF6F00; }
      html body .discover-container .view-options {
        margin-top: 40px; }
        html body .discover-container .view-options .view-options-left {
          font-size: 24px; }
          html body .discover-container .view-options .view-options-left a {
            color: #FF6F00; }
            html body .discover-container .view-options .view-options-left a:hover, html body .discover-container .view-options .view-options-left a:focus {
              color: #994300;
              text-decoration: none;
              background-color: transparent; }
        html body .discover-container .view-options .view-options-right {
          font-size: 18px;
          text-align: right; }
          html body .discover-container .view-options .view-options-right a {
            color: black; }
            html body .discover-container .view-options .view-options-right a:hover, html body .discover-container .view-options .view-options-right a:focus {
              color: #FF6F00;
              text-decoration: none;
              background-color: transparent; }
            html body .discover-container .view-options .view-options-right a.active {
              color: #FF6F00; }
              html body .discover-container .view-options .view-options-right a.active:hover, html body .discover-container .view-options .view-options-right a.active:focus {
                color: #994300;
                text-decoration: none;
                background-color: transparent; }
      html body .discover-container .item-container {
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px; }
        html body .discover-container .item-container .item-box {
          padding: 20px; }
          html body .discover-container .item-container .item-box .item {
            border: 4px solid #FF6F00;
            border-radius: 6px; }
            html body .discover-container .item-container .item-box .item .item-picture {
              width: 100%; }
            html body .discover-container .item-container .item-box .item .item-title, html body .discover-container .item-container .item-box .item .item-description {
              margin-left: 12px;
              margin-right: 12px; }
            html body .discover-container .item-container .item-box .item .item-title {
              margin-bottom: 5px;
              font-size: 20px; }
            html body .discover-container .item-container .item-box .item .item-description {
              margin-bottom: 0;
              font-size: 12px; }
              html body .discover-container .item-container .item-box .item .item-description .item-asked-by-name {
                color: #FF6F00; }
                html body .discover-container .item-container .item-box .item .item-description .item-asked-by-name:hover, html body .discover-container .item-container .item-box .item .item-description .item-asked-by-name:focus {
                  color: #994300;
                  text-decoration: none;
                  background-color: transparent; }
    html body .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #FF6F00; }

/*# sourceMappingURL=application.css.map */
