@import "_variables"
@import "_variables"
@import "_mixins"
@import "_animations"
@import "_fonts"

html
  position: relative
  min-height: 100%

  body
    font-family: ProximaNovaSoft, sans-serif
    color: $color-text-main
    margin-bottom: $footer-height

    .navbar-main
      padding: 0 $navbar-spacing-x
      margin-bottom: 0
      background-color: white
      border: 0
      border-bottom: $navbar-border-height solid $color-orange

      .navbar-header
        margin-right: $navbar-spacing-x

        .navbar-brand
          height: $navbar-height
          padding: (($navbar-height - $navbar-image-height) / 2) 15px

          .navbar-logo
            height: $navbar-image-height

      &.navbar-transparent
        background-color: transparent
        border-bottom: 0

      #navbar

        .navbar-nav
          height: $navbar-height
          padding-top: 15px
          padding-bottom: 15px

          > li > a
            padding-top: 0
            padding-bottom: 0
            line-height: $navbar-height - 30px
            @include hover($color-orange, darken($color-orange, 20))

            &.navbar-login, &.navbar-signup
              text-align: center

            &.navbar-notifications
              margin-top: ($navbar-height - 60px) / 2
              margin-right: $navbar-spacing-x
              padding-left: 0
              padding-right: 0
              height: 30px
              width: 30px
              border: 1px solid $color-orange
              border-radius: $navbar-image-height / 2
              text-align: center
              line-height: 30px
              font-size: 18px

            &.navbar-profile-pic
              padding: (($navbar-height - $navbar-image-height) / 2 - 15px) 0
              height: $navbar-image-height

              > img
                display: block
                height: $navbar-image-height
                border: 2px solid $color-orange
                border-radius: ($navbar-height - 30px) / 2

    .fullscreen-page
      position: fixed
      z-index: -1
      top: 0
      right: 0
      bottom: 0
      left: 0
      @include full-background()

    .fullscreen-box
      position: absolute
      top: $navbar-height + $navbar-border-height + 40px
      padding: 30px

    .index-page

    .index-box
      @include center-x()
      width: 720px
      max-width: 100%
      text-align: center

      .index-box-heading, .index-box-subheading, .index-box-learn-heading, .index-box-learn-content
        margin-left: auto
        margin-right: auto
        width: 600px
        max-width: 100%

      .index-box-heading
        font-size: 60px
        color: $color-orange

      .index-box-subheading
        margin-top: 15px
        font-size: 26px
        color: white

      .index-box-ask
        margin-top: 70px
        margin-bottom: 70px
        color: $color-orange
        font-size: 16px
        font-weight: bold

        .index-ask-form

          .form-group
            margin-top: 10px
            margin-bottom: 10px

          input, button
            font-weight: normal

          button
            margin-top: 10px
            height: 34px
            border-radius: 17px
            background-color: $color-orange
            color: white

            @media (min-width: $bootstrap-sm-min)
              margin-left: 40px

      .index-box-learn-heading
        font-size: 16px
        color: $color-orange

      .index-box-learn-content
        font-size: 16px
        color: white

      .bottom-links
        margin-top: 32px

        a
          @include hover($color-orange, white)
          font-size: 24px

    .login-page

    .login-box
      @include center-x()
      width: 420px
      max-width: 100%
      background-color: transparentize($color-orange, 0.25)

      .login-box-logo
        height: 60px
        display: block
        margin-left: auto
        margin-right: auto

      .login-form
        margin-top: 30px

        input[type=text], input[type=password]
          padding: 8px

        .checkbox input[type=checkbox] + .remember-me-label, .forgot-password
          color: white
          font-weight: bold
          font-size: 14px
          line-height: $login-checkbox-size

        .checkbox
          margin: 0

          input[type=checkbox]
            display: none

            + .remember-me-label
              padding-left: $login-text-padding-x

              &:before
                content: ''
                text-align: center
                display: inline-block
                vertical-align: top
                width: $login-checkbox-size
                height: $login-checkbox-size
                margin-right: 10px
                border: 2px solid white
                border-radius: 4px

            &:checked + .remember-me-label:before
              background-color: white

        .forgot-password
          text-align: right

          a
            padding-right: $login-text-padding-x
            @include hover(white, white)
            @include hover-underline()

        button
          margin-top: 15px
          background-color: lighten($color-orange, 10)
          color: white

      .breakup
        margin-top: 35px
        margin-bottom: 35px
        text-align: center
        color: white
        font-size: 20px
        font-weight: bold

      .social-sign-in
        margin-bottom: 15px
        color: white

        &.facebook-sign-in
          background-color: $color-facebook-blue

        &.twitter-sign-in
          background-color: $color-twitter-blue

      .signup-link
        display: block
        margin-top: 15px
        text-align: center
        color: white
        font-size: 14px
        @include hover(white, white)
        @include hover-underline()

    .banner
      height: 400px
      @include full-background()

      > h1, > p, > a > p
        color: white
        text-align: center

      > h1
        margin-top: 80px
        font-size: 70px

        @media (max-width: $bootstrap-xs-max)
          font-size: 40px

        .banner-fancy
          font-family: Fonjava, $font-default, sans-serif

        .banner-small
          font-size: 40px

          @media (max-width: $bootstrap-xs-max)
            font-size: 25px

      > p, > a > p
        font-size: 20px
        margin-top: 0
        margin-bottom: 0

      > a > p
        @include hover(white, white)

        &:hover
          text-decoration: underline

      > button
        display: block
        margin: 10px auto
        color: white
        border-color: $standard-border solid white
        background-color: transparent

    .banner-heading
      margin-top: -20px
      margin-bottom: -20px
      text-align: center
      font-size: 0

      .banner-heading-text
        padding: 5px 25px
        border-radius: 20px
        display: inline-block
        color: white
        text-align: center
        font-size: 20px
        line-height: 30px
        background-color: $color-orange

      &.banner-heading-options

        .banner-heading-text
          border-radius: 0
          min-width: 190px

          > a
            @include hover(white, white)

            &:hover
              text-decoration: underline

          &.active
            background-color: white

            > a
              @include hover($color-orange, $color-orange)

        .banner-heading-text:first-of-type
          border-radius: 20px 0 0 20px

        .banner-heading-text:last-of-type
          border-radius: 0 20px 20px 0

    .discover-container
      padding-top: 60px
      border: 3px solid $color-lightgrey
      border-top: none

      .grey-text
        font-size: 20px
        color: $color-text-grey

        .accent
          color: $color-orange

      .item-container
        margin-top: 10px
        padding-left: $item-display-padding
        padding-right: $item-display-padding

        .item-footer
          margin-top: 10px
          margin-bottom: 30px
          text-align: right
          font-size: 14px

          a
            @include hover($color-text-main, $color-orange)

      .import-icon
        font-size: 60px
        text-align: right
        color: $color-orange

      .import-text
        color: $color-text-grey

        .import-heading
          color: $color-orange
          margin-top: 0

      .import-subtext
        margin-top: 20px
        margin-left: $item-display-padding
        color: $color-text-grey
        font-size: 12px

      .import-upload-button
        background-color: $color-orange
        margin-top: 20px
        margin-left: $item-display-padding

      .import-upload-box
        border: $standard-border solid $color-orange
        margin: 10px $item-display-padding
        min-height: 400px

      .import-form
        text-align: center

        .import-upload-next
          background-color: $color-orange
          color: white
          margin: 30px 10px

          > a
            display: block
            @include hover(white, white)

            &:hover
              text-decoration: underline

    .store-left-pane

      .store-left-pane-item

        h3
          display: block
          background-color: $color-orange
          color: white
          padding: 5px
          text-align: center

    .ask-box
      width: 680px
      max-width: 100%
      padding-left: 100px
      color: white

      .ask-box-heading
        font-size: 60px
        color: white

      .ask-box-subheading
        font-size: 24px
        color: white

      .ask-form
        margin-top: 50px

        label
          margin: 2px 0
          font-size: 24px
          line-height: 48px

        input, select
          margin-top: 2px
          margin-bottom: 2px
          border: 2px solid $color-orange

        input, select, .ask-upload-button, .ask-button button
          border-radius: 15px

        .ask-upload-button
          width: 240px
          font-size: 16px
          line-height: 36px
          text-align: center
          background-color: $color-orange
          cursor: pointer

        .ask-button
          margin-top: 40px

          button
            width: 120px
            background-color: lighten($color-orange, 20)

    .section-heading
      margin-top: 60px
      background-color: $color-orange
      border-radius: 20px 20px 0 0
      padding-top: 15px
      padding-bottom: 15px

      > h1
        margin: 0
        text-align: center
        color: white

    .section-main
      padding-top: 30px
      border: 3px solid $color-lightgrey
      border-top: none

      .padded-text
        margin-left: $item-display-padding
        margin-right: $item-display-padding

      .grey-text
        font-size: 20px
        color: $color-text-grey

        .accent
          color: $color-orange

      .list
        margin-top: 40px
        margin-left: $item-display-padding
        margin-right: $item-display-padding
        font-size: 20px
        line-height: 36px

        .list-item

          > a
            @include hover($color-text-main, $color-orange)

            &.active
              color: $color-orange

        .list-more
          margin-top: 16px

          > a
            @include hover($color-orange, darken($color-orange, 20))

        .item-footer
          margin-top: 10px
          margin-bottom: 30px
          text-align: right
          font-size: 14px

          a
            @include hover($color-text-main, $color-orange)

    .pre-footer
      height: 80px

    .footer
      position: absolute
      bottom: 0
      width: 100%
      height: $footer-height
      background-color: $color-orange

      .footer-header
        margin-top: 36px
        margin-bottom: 16px
        color: white

      .footer-list
        display: block
        margin-top: 10px
        @include hover(white, white)
        @include hover-underline()

      .footer-copyright
        position: absolute
        left: 0
        right: 0
        margin-top: 52px
        color: white
        text-align: center

      .footer-logo
        position: absolute
        margin-top: 32px
        height: 40px

    .nomargin
      margin: 0

    .nopadding
      padding: 0

    .displaynone
      display: none

    .float-left
      float: left

    .float-right
      float: right

    .shader-black
      background-color: rgba(31, 31, 31, 0.5)

    .large-input
      height: 48px
      width: 100%
      padding: 6px 12px
      font-size: 16px

    .rounded-input
      height: 34px
      width: auto
      min-width: 120px
      padding: 6px 12px
      font-size: 16px
      border-radius: 18px

    .view-options
      margin-top: 40px

      .view-options-left
        font-size: 24px

        a
          @include hover($color-orange, darken($color-orange, 20))

      .view-options-right
        font-size: 18px
        text-align: right

        a
          @include hover($color-text-main, $color-orange)

          &.active
            @include hover($color-orange, darken($color-orange, 20))

    .product-box
      padding: $item-display-padding

      .product
        border: $standard-border solid $color-orange
        border-radius: $standard-border-radius

        .product-picture
          width: 100%
          border-radius: ($standard-border-radius - $standard-border) ($standard-border-radius - $standard-border) 0 0

        .product-title, .product-description
          margin-left: 12px
          margin-right: 12px

        .product-title
          margin-bottom: 5px
          font-size: 20px

        .product-description
          margin-bottom: 0
          font-size: 12px

          .product-asked-by-name, .answer-count
            @include hover($color-orange, darken($color-orange, 20))

      .product-panel
        border: $standard-border solid $color-orange
        border-radius: $standard-border-radius + $standard-border

        .product-picture
          margin-top: 15px
          margin-bottom: 15px
          border: $standard-border solid $color-orange
          border-radius: $standard-border-radius
          width: 100%

          @media (max-width: $bootstrap-xs-max)
            display: block
            max-width: 280px
            margin-left: auto
            margin-right: auto

        .product-title, .product-description
          margin-left: 16px

        .product-title
          margin-top: 54px
          font-size: 30px

          @media (max-width: $bootstrap-sm-max)
            margin-top: 32px

          @media (max-width: $bootstrap-xs-max)
            margin-top: 0
            text-align: center

        .product-description
          margin-top: 40px
          font-size: 14px

          @media (max-width: $bootstrap-sm-max)
            margin-top: 24px

          @media (max-width: $bootstrap-xs-max)
            margin-top: 0
            text-align: center

          .product-asked-by-name
            @include hover($color-orange, darken($color-orange, 20))

        .answer
          text-align: center

          .form-group
            margin-top: 16px
            margin-right: 8px

            .answer-label

              > label
                line-height: 28px
                color: $color-orange

            .answer-input

              > input
                height: 28px
                border: 1px solid $color-orange

          > button
            margin-top: 16px
            margin-bottom: 16px
            background-color: $color-orange
            color: white
            border-radius: 16px
