@import "_variables"
@import "_mixins"
@import "_animations"
@import "_fonts"

html
  position: relative
  min-height: 100%

  body
    font-family: ProximaNovaSoft, sans-serif
    color: $color-text-main
    margin-bottom: $footer-height

    .navbar-main
      padding: 0 25px 10px
      margin-bottom: 0
      border-bottom: 2px solid $color-navbar-bottom

      .navbar-header
        margin-right: 20px

        .navbar-brand
          height: $navbar-height

          .navbar-logo
            height: $navbar-height - 30px

      #navbar

        .navbar-nav
          height: $navbar-height
          padding-top: 15px
          padding-bottom: 15px

          > li > a
            padding-top: 0
            padding-bottom: 0
            line-height: $navbar-height - 30px
            color: $color-navbar-links

            &:hover, &:focus
              color: darken($color-navbar-links, 20)
              background-color: transparent

          .navbar-profile-pic
            height: $navbar-height - 30px
            border: 2px solid $color-navbar-accent
            border-radius: ($navbar-height - 30px) / 2
            margin-right: 10px

          .navbar-notifications
            margin-top: ($navbar-height - 60px) / 2
            height: 30px
            width: 30px
            border: 1px solid $color-navbar-accent
            border-radius: 15px
            text-align: center
            line-height: 30px
            font-size: 18px

    .banner
      height: 400px
      background-repeat: no-repeat
      background-position: center 90%
      background-size: cover

      > h1

        .banner-fancy
          font-family: Fonjava, $font-default, sans-serif

    .footer
      position: absolute
      bottom: 0
      width: 100%
      height: $footer-height
      background-color: $color-footer-background
