.container.pre-footer
%footer.footer
  .container
    .row
      .col-sm-6.col-lg-3
        %h3.footer-header Seeqe
        %a.footer-list{:href => '#'} Home
        %a.footer-list{:href => 'browse.html'} Browse
        %a.footer-list{:href => 'discover.html'} Discover
        %a.footer-list{:href => 'recentlyasked.html'} Recently Asked
        %a.footer-list{:href => '#'} Ask
      .col-sm-6.col-lg-3
        %h3.footer-header Help
        %a.footer-list{:href => '#'} About Us
        %a.footer-list{:href => '#'} For Businesses
        %a.footer-list{:href => '#'} FAQ
      .col-sm-6.col-lg-3
        %h3.footer-header SeeqeBlogger
        %a.footer-list{:href => '#'} Blog
        %a.footer-list{:href => '#'} Apply
      .col-sm-6.col-lg-3
        %h3.footer-header Social Media
        %a.footer-list{:href => '#'} Facebook
        %a.footer-list{:href => '#'} Twitter
        %a.footer-list{:href => '#'} Instagram
    .footer-copyright &copy; Copyright Seeqe App Inc.
    %img.footer-logo{:src => 'assets/images/seeqe_logo_white.png'}