!!! html
%html{:lang => 'en'}
  %head
    = Haml::Engine.new(File.read('_header.haml')).render
  %body
    = Haml::Engine.new(File.read('_navbar-transparent.haml')).render
    .fullscreen-page.ask-page{:style => 'background-image: url(\'assets/images/backgrounds/ask_page.png\')'}
    .fullscreen-page.ask-page.shader-black
    .fullscreen-box.ask-box
      %h1.ask-box-heading Ask
      %h4.ask-box-subheading
        Let the Seeqe community know what you're trying to find and you'll receive an answer in no time!
      %form.ask-form
        .row.form-group
          .col-xs-2.col-sm-1
            %label{:for => 'ask-item'}
              %i.fa.fa-search
          .col-xs-10.col-sm-11
            %input#ask-item.form-control.large-input{:type => 'text', :placeholder => 'What you\'re looking for'}
        .row.form-group
          .col-xs-2.col-sm-1
            %label{:for => 'ask-location'}
              %i.fa.fa-map-marker
          .col-xs-10.col-sm-11
            %input#ask-location.form-control.large-input{:type => 'text', :placeholder => 'Location'}
        .row.form-group
          .col-xs-2.col-sm-1
            %label{:for => 'ask-category'}
              %i.fa.fa-th-list
          .col-xs-10.col-sm-11
            %select#ask-category.form-control.large-input
              %option{:selected => true, :disabled => true, :hidden => true} Category
              %option Option 1
              %option Option 2
              %option Option 3
        .row.form-group
          .col-xs-2.col-sm-1
            %label{:for => 'ask-upload'}
              %i.fa.fa-camera
          .col-xs-10.col-sm-11
            %input#ask-upload.displaynone{:type => 'file'}
            %label.ask-upload-button.large-input.btn{:for => 'ask-upload'}
              Upload photo (optional)
        .row.ask-button
          .col-xs-10.col-xs-offset-2.col-sm-11.col-sm-offset-1
            %button.btn.large-input{:type => 'submit'} Ask
