!!! html
%html{:lang => 'en'}
  %head
    = Haml::Engine.new(File.read('_header.haml')).render
  %body
    = Haml::Engine.new(File.read('_navbar.haml')).render
    .container-fluid.banner{:style => 'background-image: url(\'assets/images/banner_images/browse.jpg\')'}
      %h1
        Browse
        %span.banner-small in
        Ottawa, Canada
      %p Browse recently found products
      %p around your area
    .container-fluid.banner-heading
      .banner-heading-text Categories
    .container.discover-container
      %p.grey-text
        Browse through the community's recent findings!
      .row.view-options
        .col-sm-6.view-options-left
          %a{:href => '#'}
            %i.fa.fa-th-list
          &nbsp;
          %a{:href => '#'}
            %i.fa.fa-square
          &nbsp;
          %a{:href => '#'}
            %i.fa.fa-th-large
        .col-sm-6.view-options-right
          %a.active{:href => '#'}
            Top Find
            %i.fa.fa-star
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Alphabetical
            %i.fa.fa-sort-alpha-asc
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Near Me
            %i.fa.fa-map-marker
      .row.item-container
        - (1..12).each do |i|
          .col-sm-6.col-md-4.col-lg-3.item-box
            .item
              %img.item-picture{:src => 'http://lorempixel.com/400/300'}
              %h4.item-title Thing #{i}
              %p.item-description.float-left
                Asked by
                %a.item-asked-by-name{:href => '#'} Jeff Hudson
              %p.item-description.float-right
                %a.answer-count{:href => '#'} 4 Answers
              .clear &nbsp;
        .col-xs-12.item-footer
          %a{:href => '#'}
            Return to top
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Ask Question
            %i.fa.fa-comments-o
    .container.section-heading
      %h1 Categories
    .container.section-main
      %p.padded-text.grey-text
        Looking for something specific?
        %span.accent Check out some of these categories
        and continue browsing!
      .row.list
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Arts and Humanities
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Beauty and Style
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Business and Finance
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Cars and Transportation
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Computers and Internet
        .col-sm-6.col-lg-3.list-item
          %a.active{:href => '#'} Consumer Electronics
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Dining Out
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Education and Reference
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Entertainment and Music
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Environment
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Family and Relationships
        .col-sm-6.col-lg-3.list-item
          %a{:href => '#'} Food and Drinks
        .col-lg-12.list-more
          %a{:href => '#'}
            More
            %i.fa.fa-caret-down
        .col-xs-12.item-footer
          %a{:href => '#'}
            Return to top
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Ask Question
            %i.fa.fa-comments-o
    = Haml::Engine.new(File.read('_footer.haml')).render
