!!! html
%html{:lang => 'en'}
  %head
    = Haml::Engine.new(File.read('_header.haml')).render
  %body
    = Haml::Engine.new(File.read('_navbar.haml')).render
    .container-fluid.banner{:style => 'background-image: url(\'assets/images/banner_images/profile.jpg\')'}
      %h1
        %span.banner-fancy Discover
        %span.banner-small in
        Ottawa, Canada
      %p View cool products near you.
      %p Discover what's popular.
      %p Favorite the ones you like.
    .container-fluid.banner-heading.banner-heading-options
      .banner-heading-text
        %a{:href => 'profile-productsasked.html'} Products Asked
      .banner-heading-text
        %a{:href => 'profile-productsfound.html'} Products Found
      .banner-heading-text.active
        %a{:href => 'profile-following.html'} Following
      .banner-heading-text
        %a{:href => 'profile-favorites.html'} Favorites
      .banner-heading-text
        %a{:href => 'profile-account-basic-information.html'} Account
    = Haml::Engine.new(File.read('_footer.haml')).render
