!!! html
%html{:lang => 'en'}
  %head
    = Haml::Engine.new(File.read('_header.haml')).render
  %body
    = Haml::Engine.new(File.read('_navbar.haml')).render
    .container-fluid.banner{:style => 'background-image: url(\'assets/images/banner_images/results.jpg\')'}
      %h1
        Organic Quinoa
        %span.banner-small in
        Ottawa, Canada
      %p Check out the community's top finds:
      %p which product has recently been found,
      %p or which one is nearest to you!
    .container.discover-container
      %p.grey-text
        Here's what we found! Not sure what you're looking for?
      %p.grey-text
        No problem, just
        %a{:href => '#'} ask the community
      .row.view-options
        .col-sm-6.view-options-left
          %a{:href => '#'}
            %i.fa.fa-th-list
          &nbsp;
          %a{:href => '#'}
            %i.fa.fa-square
          &nbsp;
          %a{:href => '#'}
            %i.fa.fa-th-large
        .col-sm-6.view-options-right
          %a.active{:href => '#'}
            Top Find
            %i.fa.fa-star
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Alphabetical
            %i.fa.fa-sort-alpha-asc
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Near Me
            %i.fa.fa-map-marker
      .row.item-container
        - (1..3).each do |i|
          .col-xs-10.col-xs-offset-1.product-box
            .row.product-panel
              .col-xs-12
                .row
                  .col-xs-6.col-md-2
                    %img.product-picture{:src => 'http://lorempixel.com/400/300'}
                  .col-xs-6.col-md-2.col-md-push-8
                    %span.product-icon
                      %i.fa.fa-cutlery
                  .col-xs-12.col-md-8.col-md-pull-2.product-bottom-border-line
                    %h4.product-title.product-title-thin-top Thing #{i}
                    %p.product-info
                      Asked by
                      %a{:href => '#'} Jeff
                      12 days ago
              .col-xs-12
                .row
                  .col-xs-8.col-xs-offset-2
                    %p.product-asker
                      by
                      %a{:href => '#'} Jeff Hudson
                    %form.answer
                      .form-group.row.nomargin
                        .col-xs-1.nopadding.answer-label
                          %label{:for => 'store-name-' + i.to_s}
                            %i.fa.fa-building
                        .col-xs-11.nopadding.answer-input
                          %input.form-control{:id => 'store-name-' + i.to_s, :type => 'text', :placeholder => 'store name'}
                      .form-group.row.nomargin
                        .col-xs-1.nopadding.answer-label
                          %label{:for => 'store-website-' + i.to_s}
                            %i.fa.fa-globe
                        .col-xs-11.nopadding.answer-input
                          %input.form-control{:id => 'store-website-' + i.to_s, :type => 'text', :placeholder => 'store website'}
                      .form-group.row.nomargin
                        .col-xs-1.nopadding.answer-label
                          %label{:for => 'store-address-' + i.to_s}
                            %i.fa.fa-map-marker
                        .col-xs-11.nopadding.answer-input
                          %input.form-control{:id => 'store-address-' + i.to_s, :type => 'text', :placeholder => 'store address'}
                      %button.btn{:type => 'submit'} Answer
              .col-xs-12
                .row
                  .col-xs-4.col-md-2.product-rating
                    %p.top-answer
                      %span.top-answer-text Top Answer
                      %i.fa.fa-star
                    %p.caret-up
                      %i.fa.fa-caret-up
                    %p.rating 14
                    %p.caret-down
                      %i.fa.fa-caret-down
                  .col-md-2.col-md-push-8.hidden-xs.hidden-sm
                  .col-xs-8.col-md-pull-2.product-top-border-line
                    %p.product-asker
                      by
                      %a{:href => '#'} Jeff Hudson
                    %form.answer.answer-filled
                      .form-group.row.nomargin
                        .col-xs-1.nopadding.answer-label
                          %label{:for => 'store-name-' + i.to_s}
                            %i.fa.fa-building
                        .col-xs-11.nopadding.answer-input
                          %input.form-control{:id => 'store-name-' + i.to_s, :type => 'text', :value => 'WholeFoods Inc.', :disabled => true}
                      .form-group.row.nomargin
                        .col-xs-1.nopadding.answer-label
                          %label{:for => 'store-website-' + i.to_s}
                            %i.fa.fa-globe
                        .col-xs-11.nopadding.answer-input
                          %input.form-control{:id => 'store-website-' + i.to_s, :type => 'text', :value => 'www.wholefoods.ca', :disabled => true}
                      .form-group.row.nomargin
                        .col-xs-1.nopadding.answer-label
                          %label{:for => 'store-address-' + i.to_s}
                            %i.fa.fa-map-marker
                        .col-xs-11.nopadding.answer-input
                          %input.form-control{:id => 'store-address-' + i.to_s, :type => 'text', :value => '325 Rideau St.', :disabled => true}



        .col-xs-12.item-footer
          %a{:href => '#'}
            Return to top
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Ask Question
            %i.fa.fa-comments-o
    .container.section-heading
      %h1 Bumped Products
    .container.section-main
      %p.grey-text
        Some people still can't find what they're looking for!
      %p.grey-text Maybe you can help!
      .row.view-options
        .col-sm-6.view-options-left
          %a{:href => '#'}
            %i.fa.fa-th-list
          &nbsp;
          %a{:href => '#'}
            %i.fa.fa-square
          &nbsp;
          %a{:href => '#'}
            %i.fa.fa-th-large
        .col-sm-6.view-options-right
          %a.active{:href => '#'}
            Top Find
            %i.fa.fa-star
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Alphabetical
            %i.fa.fa-sort-alpha-asc
          &nbsp;
          &#124;
          &nbsp;
          %a{:href => '#'}
            Near Me
            %i.fa.fa-map-marker
    = Haml::Engine.new(File.read('_footer.haml')).render
